.ContainerCliente {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 0fr 0fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "tituloCliente tituloCliente"
      "camposCliente ListadoCliente";
    border: 1px ;
    background-color: antiquewhite;
  }
  
  .tituloCliente { grid-area: tituloCliente; }
  

  .campoCliente {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "idCliente"
      "nameCliente"
      "emailCliente"
      "ageCliente"
      "botonCliente"; 
    grid-area: campoCliente; 
  }


  .idCliente {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "idClienteE"
      "idClienteV";
    grid-area: idCliente;
  }
  
  .idClienteE { grid-area: idClienteE; }
  
  .idClienteV { grid-area: idClienteV; }
  
  .nameCliente {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nameClienteE"
      "nameClienteV";
    grid-area: nameCliente;
  }
  
  .nameClienteE { grid-area: nameClienteE; }
  
  .nameClienteV { grid-area: nameClienteV; }
  
  .emailCliente {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "emailClienteE"
      "emailClienteV";
    grid-area: emailCliente;
  }
  
  .emailClienteE { grid-area: emailClienteE; }
  
  .emailClienteV { grid-area: emailClienteV; }
  
  .ageCliente {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "ageClienteE"
      "ageClienteV";
    grid-area: ageCliente;
  }
  
  .ageClienteE { grid-area: ageClienteE; }
  
  .ageClienteV { grid-area: ageClienteV; }
  
  .botonCliente {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "botonClienteA";
    grid-area: botonCliente;
    padding-top: 1rem;
  }
  
  .botonClienteA { grid-area: botonClienteA; }
  
  .ListadoCliente { grid-area: ListadoCliente; }
